<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/mui/css/mui.css">
    <link rel="stylesheet" href="./lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <!-- 头部 -->
    <header class="search">
        <div class="mui-input-row mui-search">
            <input type="search" class="mui-input-clear" placeholder="">
        </div>
    </header>
    <div class="main">
        <!-- //轮播图 -->
        <div class="sliders">

        </div>
        <!-- 导航 -->
        <div class="nav">
        </div>
        <!-- 商品列表 -->
        <div class="lists">

        </div>
    </div>
    <!-- 底部 -->
    <footer>
        <a href="javascript:;">
            <span class="fa fa-home"></span>
            <div class="ft_name">首页</div>
        </a>
        <a href="./pages/classification.html">
            <span class="fa fa-list-ul"></span>
            <div class="ft_name">分类</div>
        </a>
        <a href="javascript:;">
            <span class="fa fa-shopping-cart"></span>
            <div class="ft_name">购物车</div>
        </a>
        <a href="javascript:;">
            <span class="fa fa-user-circle-o"></span>
            <div class="ft_name">我的</div>
        </a>
    </footer>
</body>

</html>
<script src="./lib/mui/js/mui.js"></script>
<script src="./lib/zepto/zepto.js"></script>
<script src="./lib/arttemplate/template-web.js"></script>
<script src="./js/common.js"></script>
<script src="./js/index.js"></script>
<!-- 轮播图模板 -->
<script type="text/template" id="sliderTempalte">
    <div class="mui-slider">
        <div class="mui-slider-group mui-slider-loop">
          <!--支持循环，需要重复图片节点-->
          <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{data[data.length-1].image_src}}" /></a></div>
          {{each data  value}}
          <div class="mui-slider-item"><a href="#"><img src="{{value.image_src}}" /></a></div>
          {{/each}}
          <!--支持循环，需要重复图片节点-->
          <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{data[0].image_src}}"/></a></div>
        </div>
        <!-- 索引器 -->
        <div class="mui-slider-indicator">
            {{each data value index}}
            {{if index==0}}
            <div class="mui-indicator mui-active"></div>
            {{/if}}
            {{if index!==0}}
            <div class="mui-indicator"></div>
            {{/if}}
            {{/each}}
        </div>
      </div>
</div>
</script>
<!-- 轮播图模板 -->
<!-- 导航模板 -->
<script type="text/template" id="navTemplate">
    {{each data value}}
   <a href="javascript:;">
        <img src="{{value.image_src}}" alt="">
    </a>
  {{/each}}
</script>
<!-- 导航模板 -->
<!-- 商品列表模板 -->
<script type="text/template" id="listTemplate">
    {{each  data value}}
  <div class="lists_title"><img src="{{value.group_img}}" alt=""></div>
 
 
      <ul class="lists_content">
            {{each value.goods value1}}
          <li>
                <a href="javascript:;">
                        <img src="{{value1.goods_small_logo}}" alt="">
                        <div class="goods_name">{{value1.goods_name}}</div>
                        <div class="goods_price">￥{{value1.goods_price}}</div>
                </a>
                <a href="javascript:;" class="goods_like mui-btn mui-btn-primary mui-btn-outlined">找相似</a> 
          </li>
          
         {{/each}}
        </ul>

  {{/each}}
</script>